<?php
const CICLOPSE_DATABASE = 'Rickzilla';

const DATABASE_CREDENTIALS = [
    CICLOPSE_DATABASE => [ //DATABASE NAME
        'server' => '', //DATABASE SERVER
        'user' => '', //DATABASE USER
        'password' => '' //DATABASE PASSWORD
    ],
    'OtherDatabase' => [ //DATABASE NAME
        'server' => '', //DATABASE SERVER
        'user' => '', //DATABASE USER
        'password' => '' //DATABASE PASSWORD
    ]
];